### 585. Investments in 2016

https://leetcode.com/problems/investments-in-2016/?lang=pythondata

### 테이블 구조

Table: Insurance

+-------------+-------+
| Column Name | Type  |
+-------------+-------+
| pid         | int   |
| tiv_2015    | float |
| tiv_2016    | float |
| lat         | float |
| lon         | float |
+-------------+-------+
pid is the primary key (column with unique values) for this table.
Each row of this table contains information about one policy where:
pid is the policyholder's policy ID.
tiv_2015 is the total investment value in 2015 and tiv_2016 is the total investment value in 2016.
lat is the latitude of the policy holder's city. It's guaranteed that lat is not NULL.
lon is the longitude of the policy holder's city. It's guaranteed that lon is not NULL.

### 문제

Write a solution to report the sum of all total investment values in 2016 tiv_2016, for all policyholders who:

have the same tiv_2015 value as one or more other policyholders, and
are not located in the same city as any other policyholder (i.e., the (lat, lon) attribute pairs must be unique).
Round tiv_2016 to two decimal places.

The result format is in the following example.

### Output

Output: 
+----------+
| tiv_2016 |
+----------+
| 45.00    |
+----------+

### 모듈 import

In [1]:
import pandas as pd
import numpy as np
import warnings

warnings.filterwarnings('ignore')

### DataFrame

In [2]:
data = [[1, 10, 5, 10, 10], [2, 20, 20, 20, 20], [3, 10, 30, 20, 20], [4, 10, 40, 40, 40]]
insurance = pd.DataFrame(data, columns=['pid', 'tiv_2015', 'tiv_2016', 'lat', 'lon']).astype({'pid':'Int64', 'tiv_2015':'Float64', 'tiv_2016':'Float64', 'lat':'Float64', 'lon':'Float64'})

In [3]:
insurance

   pid  tiv_2015  tiv_2016   lat   lon
0    1      10.0       5.0  10.0  10.0
1    2      20.0      20.0  20.0  20.0
2    3      10.0      30.0  20.0  20.0
3    4      10.0      40.0  40.0  40.0

### 문제풀이

TypeError: unique() takes 1 positional argument but 2 were given