# Let's get started! ‚ö°

In [321]:
## IMPORT THE NECESSARY PYTHON LIBRARIES

# Exploratory Data Analysis
import numpy as np
import pandas as pd
from scipy import stats
import seaborn as sns
import matplotlib.pyplot as plt

# Data Preprocessing
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer
from sklearn.compose import ColumnTransformer
from sklearn.base import TransformerMixin

# Data Reading

In [322]:
# Îç∞Ïù¥ÌÑ∞ ÏùΩÏñ¥Ïò§Í∏∞
df_train = pd.read_csv('./data/train.csv')
df_test = pd.read_csv('./data/test.csv')

In [323]:
# Ìó§Îìú ÌôïÏù∏
df_train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [324]:
# Îç∞Ïù¥ÌÑ∞Ïùò Ïª¨Îüº Ïàò ÌôïÏù∏
print(df_train.shape, df_test.shape)

(891, 12) (418, 11)

In [325]:
# Ïª¨ÎüºÎ≥Ñ ÌÉÄÏûÖÍ≥º NullÍ∞í ÌôïÏù∏
print(df_train.info())
print()
print(df_test.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB
None

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Pclass       418 non-null    int64
 2   Name         418 non-null    object
 3   Sex          418 non-null    object
 4   Age          332 non-null    float64
 5   SibSp        418 non-null    int64
 6   Parch        418 non-null    int64
 7   Ticket       418 non-null    object
 8   Fare         417 non-null    float64
 9   Cabin        91 non-null     object
 10  Embarked     418 non-null    object
dtypes: float64(2), int64(4), object(5)
memory usage: 36.0+ KB
None

## Exploratory Data Analysis üìäü§î

In [326]:
# ÌîºÏ≤òÎ≥ÑÎ°ú ÌïôÏäµÎç∞Ïù¥ÌÑ∞, ÌÖåÏä§Ìä∏Îç∞Ïù¥ÌÑ∞, ÏñëÏ™ΩÏùÑ Ìï©Ïπú Ï¥ù ÏÉùÏ°¥ÏûêÏùò ÎπÑÏú®ÏùÑ ÏãúÍ∞ÅÌôîÌï¥Ï£ºÎäî Ìï®Ïàò
# plt, seaborn importÌïòÍ≥†, eda_bar_plots(Ïª¨ÎüºÎ™Ö) ÏûÖÎ†•ÌïòÏãúÎ©¥ Îê©ÎãàÎã§.
def eda_bar_plots(feature: str, target: str = 'Survived') -> None:
    """
    The given 'feature' is expected to be a categorical feature.
    Avoid calling this function with 'feature' == 'Age' or 'Fare'
    
    This function crates 3 bar plots to perform a visual
    Data Exploration analysis of the given 'feature'.
    """
    
    fig, (ax1, ax2, ax3) = plt.subplots(1, 3, figsize=(15,5))
    
    # (1) the distribution of 'feature' in the Training data
    df1 = df_train[feature].value_counts(normalize=True) 
    df1 = df1.sort_index().reset_index()
    # Now df1 has the columns: feature and 'proportion'
    sns.barplot(data=df1, x=feature, y='proportion', ax=ax1)
    # Set the title, the xlabel, and the ylabel.
    ax1.set(
        xlabel=feature, 
        ylabel='% of each category', 
        title=feature + ': % value counts [Training Data]'
    )
    # Plot a horizontal line at the proportion of a balanced
    # distribution of the categories in 'feature'
    ax1.axhline(
        y=1/len(df1), color='green', alpha=0.4, linestyle='--'
    )
    
    # (2) the distribution of 'feature' in the Test data
    df2 = df_test[feature].value_counts(normalize=True) 
    df2 = df2.sort_index().reset_index()
    # Now df2 has the columns: feature and 'proportion'
    sns.barplot(data=df2, x=feature, y='proportion', ax=ax2)
    # Set the title, the xlabel, and the ylabel.
    ax2.set(
        xlabel=feature, 
        ylabel='% of each category', 
        title=feature + ': % value counts [Test Data]'
    )
    # Plot a horizontal line at the proportion of a balanced
    # distribution of the categories in 'feature'
    ax2.axhline(
        y=1/len(df2), color='green', alpha=0.4, linestyle='--'
    )
    
    # (3) the relationship between the 'target' and the 
    # categories of 'feature' in the training data
    df3 = df_train.groupby(feature, as_index=False).agg(
        {target: 'mean'}
    ).sort_values(by=feature)
    sns.barplot(x=feature, y=target, data=df3, ax=ax3)
    ax3.set(
        xlabel=feature,
        ylabel=f'% {target}', 
        title=f"{feature}: prob of '{target}'"
    )
    # Plot a horizontal line at the baseline prediction
    # probability: two classes -> prob=0.5
    ax3.axhline(
        y=0.5, color='green', alpha=0.4, linestyle='--'
    )

# Data Preprocessing ‚öôÔ∏èüßπ

In [327]:
# 'PassengerId' Ïª¨Îüº ÎìúÎûç (ÏÉÅÍ¥ÄÍ¥ÄÍ≥Ñ X)
# Ï†úÏ∂úÌï† ÎïåÎäî Ïª¨Îüº Îã§Ïãú Ï∂îÍ∞ÄÌï¥Ï§òÏïº Ìï©ÎãàÎã§.
def drop_PassengerId(df_train):
    df_train = df_train.drop(columns=['PassengerId'])
    return df_train

In [328]:
# 'Name' Ïª¨ÎüºÏóêÏÑú 'honorific_title' Ïª¨Îüº ÏÉùÏÑ±ÌïòÍ∏∞
# ÏùòÎØ∏ÏûàÎäî Ìò∏Ïπ≠(Mr, Mrs, Miss, Master)ÏùÑ Ï∂îÏ∂úÌïòÎäî Í≥ºÏ†ïÏûÖÎãàÎã§.

# Ïòà : "Braund, Mr. Owen Harris"ÏóêÏÑú 'Mr' Ï∂îÏ∂ú
def get_honorific_name(df_train, df_test):
    # '.'(ÎßàÏπ®Ìëú) Í∏∞Ï§ÄÏúºÎ°ú Ïù¥Î¶ÑÏùÑ ÏûêÎ•¥Í≥†, ','(ÏΩ§Îßà) Ï†úÍ±∞
    honorific_title_train = df_train['Name'].map(
        lambda n: n.split('.')[0].split(', ')[-1]
    )
    honorific_title_test = df_test['Name'].map(
        lambda n: n.split('.')[0].split(', ')[-1]
    )

    # ÏÉà ÌîºÏ≥êÎ°ú ÏÇ¨Ïö©Ìï† Ïª¨Îüº 'honorific_title' ÏÉùÏÑ±
    top4_titles = ('Mr', 'Mrs', 'Miss', 'Master')

    df_train['honorific_title'] = honorific_title_train.map(
        lambda h: h if h in top4_titles else np.nan
    )
    df_test['honorific_title'] = honorific_title_test.map(
        lambda h: h if h in top4_titles else np.nan
    )
    
    return df_train, df_test

In [329]:
# 'Name' Ïª¨ÎüºÏóêÏÑú 'honorific_title' Ïª¨Îüº ÏÉùÏÑ±ÌïòÍ∏∞
# ÏùòÎØ∏ÏûàÎäî Ìò∏Ïπ≠(Mr, Mrs, Miss, Master)ÏùÑ Ï∂îÏ∂úÌïòÎäî Í≥ºÏ†ïÏûÖÎãàÎã§.

# 'honorific_title' ÏÉùÏÑ±ÌïòÎäî Ìï®Ïàò
def get_honorific_title(name):
    top4_titles = ('Mr', 'Mrs', 'Miss', 'Master')

    # top4 Ìò∏Ïπ≠ÏúºÎ°ú Î∞îÍøîÏ§Ñ ÏÜåÏàò Ïó¨ÏÑ± Ìò∏Ïπ≠
    female_titles_to_Mrs = ('Mme', 'the Countess', 'Dona', 'Lady')
    female_titles_to_Miss = ('Mlle', 'Ms')

    # top4 Ìò∏Ïπ≠ÏúºÎ°ú Î∞îÍøîÏ§Ñ ÏÜåÏàò ÎÇ®ÏÑ± Ìò∏Ïπ≠
    male_titles_to_Mr = ('Major', 'Col', 'Capt', 'Don', 'Sir', 'Jonkheer', 'Rev')

    # Ïòà : "Braund, Mr. Owen Harris"ÏóêÏÑú 'Mr' Ï∂îÏ∂ú
    # '.'(ÎßàÏπ®Ìëú) Í∏∞Ï§ÄÏúºÎ°ú Ïù¥Î¶ÑÏùÑ ÏûêÎ•¥Í≥†, ','(ÏΩ§Îßà) Ï†úÍ±∞
    honorific_title = name.split('.')[0].split(', ')[-1]

    # Ìò∏Ïπ≠Ïóê Îî∞Îùº Î≥ÄÌôòÌï¥ÏÑú Î¶¨ÌÑ¥
    if honorific_title in top4_titles:
        return honorific_title
    elif honorific_title in female_titles_to_Mrs:
        return 'Mrs'
    elif honorific_title in female_titles_to_Miss:
        return 'Miss'
    elif honorific_title in male_titles_to_Mr:
        return 'Mr'
    else:
        return np.nan

In [330]:
# ÏÉà ÌîºÏ≥êÎ°ú ÏÇ¨Ïö©Ìï† Ïª¨Îüº 'honorific_title' ÏÉùÏÑ±
def make_honorific_title(df_train, df_test):
    df_train['honorific_title'] = df_train['Name'].map(get_honorific_title)
    df_test['honorific_title'] = df_test['Name'].map(get_honorific_title)
    
    return df_train, df_test

In [331]:
# ÏõêÎûò Ïª¨Îüº 'Name'Î•º ÎìúÎûç
def drop_Name(df_train, df_test):
    df_train = df_train.drop(columns=['Name'])
    df_test = df_test.drop(columns=['Name'])
    
    return df_train, df_test

In [332]:
# 'SibSp' Î†àÏù¥Î∏î Ïù∏ÏΩîÎî©
def encoding_SibSp(df_train, df_test):
    df_train['SibSp'] = df_train['SibSp'].map(
        lambda s: str(s) if s < 2 else '>=2'
    )
    df_test['SibSp'] = df_test['SibSp'].map(
        lambda s: str(s) if s < 2 else '>=2'
    )
    
    return df_train, df_test

In [333]:
# 'Parch' Î†àÏù¥Î∏î Ïù∏ÏΩîÎî©
def encoding_Parch(df_train, df_test):
    df_train['Parch'] = df_train['Parch'].map(
        lambda p: '0' if p == 0 else '>0'
    )
    df_test['Parch'] = df_test['Parch'].map(
        lambda p: '0' if p == 0 else '>0'
    )
    
    return df_train, df_test

In [334]:
# ÏÉà Ïª¨Îüº 'Family' ÏÉùÏÑ± ÌõÑ Î†àÏù¥Î∏î Ïù∏ÏΩîÎî©
def make_Family_column(df_train, df_test):
    # 'Famliy' Ïª¨Îüº Í≥ÑÏÇ∞Ìï¥ÏÑú ÏÉùÏÑ±
    df_train['Family'] = df_train['SibSp'].astype(int) + df_train['Parch'].astype(int) + 1
    df_test['Family'] = df_test['SibSp'].astype(int) + df_test['Parch'].astype(int) + 1
    
    # 'Famliy' Ïª¨Îüº Î†àÏù¥Î∏î Ïù∏ÏΩîÎî©
    df_train['Family'] = df_train['Family'].map(
        lambda f : str(f) if f < 3 else '>=3'
    )

    df_test['Family'] = df_test['Family'].map(
        lambda f : str(f) if f < 3 else '>=3'
    )
    
    return df_train, df_test

In [335]:
# 'SibSp' Ïª¨Îüº ÎìúÎûç
def drop_SibSp(df_train, df_test):
    df_train = df_train.drop(columns=['SibSp'])
    df_test = df_test.drop(columns=['SibSp'])
    
    return df_train, df_test

In [336]:
# 'Parch' Ïª¨Îüº ÎìúÎûç
def drop_Parch(df_train, df_test):
    df_train = df_train.drop(columns=['Parch'])
    df_test = df_test.drop(columns=['Parch'])
    
    return df_train, df_test

In [337]:
# 'Cabin' Ïª¨Îüº ÎìúÎûç (Í≤∞Ï∏°ÏπòÍ∞Ä ÎÑàÎ¨¥ ÎßéÏùå)
def drop_Cabin(df_train, df_test):
    df_train = df_train.drop(columns=['Cabin'])
    df_test = df_test.drop(columns=['Cabin'])
    
    return df_train, df_test

In [338]:
# 'Ticket' Ïª¨Îüº ÎìúÎûç (ÏùòÎØ∏Î•º Ï∞æÏùÑÏàò ÏóÜÏùå)
def drop_Ticket(df_train, df_test):
    df_train = df_train.drop(columns=['Ticket'])
    df_test = df_test.drop(columns=['Ticket'])
    
    return df_train, df_test

In [339]:
# 'Age' Í≤∞Ï∏°Ïπò Ï±ÑÏö∞Îäî ÌÅ¥ÎûòÏä§
class AgeImputer(
    SimpleImputer, TransformerMixin
):
    """
    Age Imputer from 'honorific_title' column.

    There are four honorific titles: Mr, Mrs, Miss, Master.
    We proved that these groups have statistically different
    mean Ages (Independent T-tests).

    Imputation strategy:
        - fit:  compute the mean Age for each honorifit title
            Compute the mean Age for those who do not have title
        - transform:  if Age is missing for a passenger, if it has
            honorific title, the mean Age for that honorific title
            will be assigned. Else, the mean age for those who do
            not have title will be assigned.
    """

    def __init__(self) -> None:
        """
        Initialize an AgeImputer instance
        """

        # Initialize the parent Sklearn classes
        super().__init__()
        # Define the mappig {title_: mean Age for title_}
        self.title2age = {}
        # Define the mean age of those people with no title
        self.no_title_mean_age = None
        self.is_fitted = False


    def fit(self, X: pd.DataFrame, y=None):
        """
        Fits the 'title2age' and 'honorific_title' using 'X'.

        'X' is assumed to be Training Data (not Test Data!)
        'X' is assumed to be a non-empty data frame with
            (at least) the columns 'Age' and 'honorific_title'
        """

        df_groupby = df_train.groupby(
            by='honorific_title'
        ).agg({'Age': 'mean'})
        self.title2age = df_groupby.to_dict()['Age']

        if X['honorific_title'].isna().sum() == 0:
            self.no_title_mean_age = X['Age'].mean()
        else:
            self.no_title_mean_age = X.loc[
                X['honorific_title'].isna(), 'Age'
            ].mean()
        self.is_fitted = True
        return self


    def transform(self, X: pd.DataFrame, y=None) -> pd.DataFrame:
        """
        Transform 'X' by imputing the missing values of 'Age'

        'X' is assumed to be Training Data (not Test Data!)
        'X' is assumed to be a non-empty data frame with
            (at least) the columns 'Age' and 'honorific_title'
        """

        if not self.is_fitted:
            raise Exception("Call the 'fit' method first")

        X_out = X.copy(deep=True)
        missing_age_idx = X.loc[X['Age'].isna(), :].index
        age_col_idx = np.where(X.columns == 'Age')[0][0]

        for idx in missing_age_idx:

            # get the honorific_title of the 'idx' row
            title = X.loc[idx,'honorific_title']

            if title in self.title2age:
                X_out.loc[idx, 'Age'] = self.title2age[title]
            else:
                X_out.loc[idx, 'Age'] = self.no_title_mean_age

        return X_out['Age'].to_frame()

In [340]:
# Create three imputers : Í≤∞Ï∏°Ïπò Ï±ÑÏö∞Îäî Ìï®ÏàòÎ•º imputerÎùºÍ≥† Ìï©ÎãàÎã§.
age_imputer = AgeImputer().set_output(transform='pandas')

fare_imputer = SimpleImputer(
    strategy='median'
).set_output(transform='pandas')

embarked_imputer = SimpleImputer(
    strategy='most_frequent'
).set_output(transform='pandas')


# Create a general imputer (for all the variables)
imputer = ColumnTransformer(
    transformers=[
        ('age_imp', age_imputer, ['Age', 'honorific_title']),
        ('fare_imp', fare_imputer, ['Fare']),
        ('embarked_imp', embarked_imputer, ['Embarked'])
    ],
    remainder='passthrough', # ÎÇòÎ®∏ÏßÄÎäî ÎÜîÎëîÎã§.
    verbose_feature_names_out=False
).set_output(transform='pandas')

In [341]:
# 'honorific_title' ÌïúÏ†ï ÏõêÌï´ Ïù∏ÏΩîÎî©(ÎÇòÏù¥ Í≤∞Ï∏°Ïπò Ï±ÑÏö∞Îäî Îç∞ ÌïÑÏöî)
def make_honorific_title_dummy(df_train, df_test):
    df_train['dummy_honorific_title'] = df_train['honorific_title']
    df_train = pd.get_dummies(
          data=df_train
        , columns=['dummy_honorific_title']
        , prefix=''
        , prefix_sep=''
        , dummy_na=False  # Null Ïª¨ÎüºÏùÄ Î≥µÏÇ¨ÌïòÏßÄ ÏïäÎäîÎã§.
        , drop_first=False  # Top4 honorific titles ÌñâÏùÄ Ï†ÑÎ∂Ä Î≥µÏÇ¨
        , dtype=int
    )
    
    df_test['dummy_honorific_title'] = df_test['honorific_title']
    df_test = pd.get_dummies(
          data=df_test
        , columns=['dummy_honorific_title']
        , prefix=''
        , prefix_sep=''
        , dummy_na=False  # Null Ïª¨ÎüºÏùÄ Î≥µÏÇ¨ÌïòÏßÄ ÏïäÎäîÎã§.
        , drop_first=False  # Top4 honorific titles ÌñâÏùÄ Ï†ÑÎ∂Ä Î≥µÏÇ¨
        , dtype=int
    )
    
    return df_train, df_test

In [342]:
# ÏõêÌï´ Ïù∏ÏΩîÎî©
def one_hot_encoder(df_train, df_test):
  df_train = pd.get_dummies(
        data=df_train
      , dummy_na=False
      , drop_first=False
      , dtype=int
  ).drop(columns='honorific_title')

  df_test = pd.get_dummies(
        data=df_test
      , dummy_na=False
      , drop_first=False
      , dtype=int
  ).drop(columns='honorific_title')
  
  return df_train, df_test

In [343]:
# Ïª¨Îüº ÏÉùÏÑ± Î∞è ÎìúÎûçÌïòÎäî Ìï®Ïàò Î™®Ïùå
def make_drop_columns(df_train, df_test):
    # Î∞îÎ°ú ÎìúÎûçÌïòÎäî Ïª¨ÎüºÎì§ ÎìúÎûç
    df_train = drop_PassengerId(df_train)
    df_train, df_test = drop_Cabin(df_train, df_test)
    df_train, df_test = drop_Ticket(df_train, df_test)
    
    # Ï†ÑÏ≤òÎ¶¨ ÌõÑ Ïù∏ÏΩîÎî©ÌïòÎäî Ïª¨Îüº
    df_train, df_test = make_honorific_title(df_train, df_test)
    df_train, df_test = drop_Name(df_train, df_test)
    
    # 'Family' Ïª¨Îüº ÎßåÎì§Í≥† ÌïÑÏöîÏóÜÎäî Ïª¨Îüº ÎìúÎûç
    df_train, df_test = make_Family_column(df_train, df_test)
    df_train, df_test = drop_SibSp(df_train, df_test)
    df_train, df_test = drop_Parch(df_train, df_test)
    
    # honorific_titleÏùò ÎçîÎØ∏ Ïª¨Îüº ÏÉùÏÑ±
    df_train, df_test = make_honorific_title_dummy(df_train, df_test)
       
    return df_train, df_test

In [344]:
# Ïª¨Îüº ÏÉùÏÑ±/ÎìúÎûç Ìï®Ïàò Ïã§Ìñâ
df_train, df_test = make_drop_columns(df_train, df_test)

In [345]:
# Í≤∞Ï∏°Ïπò Ï±ÑÏö∞Í∏∞
df_train = pd.DataFrame(
      imputer.fit_transform(df_train)
    , columns=df_train.columns
)

df_test = pd.DataFrame(
      imputer.fit_transform(df_test)
    , columns=df_test.columns
)

In [346]:
# ÏõêÌï´ Ïù∏ÏΩîÎî©
df_train, df_test = one_hot_encoder(df_train, df_test)

In [348]:
df_test.head()

,Survived,Pclass,Age,Fare,Master,Miss,Mr,Mrs,Sex_female,Sex_male,Embarked_C,Embarked_Q,Embarked_S,Family_1,Family_2,Family_>=3
0,0,3,22.0,7.2500,0,0,1,0,0,1,0,0,1,0,1,0
1,1,1,38.0,71.2833,0,0,0,1,1,0,1,0,0,0,1,0
2,1,3,26.0,7.9250,0,1,0,0,1,0,0,0,1,1,0,0
3,1,1,35.0,53.1000,0,0,0,1,1,0,0,0,1,0,1,0
4,0,3,35.0,8.0500,0,0,1,0,0,1,0,0,1,1,0,0