# Let's get started! âš¡

In [321]:
## IMPORT THE NECESSARY PYTHON LIBRARIES

# Exploratory Data Analysis
import numpy as np
import pandas as pd
from scipy import stats
import seaborn as sns
import matplotlib.pyplot as plt

# Data Preprocessing
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer
from sklearn.compose import ColumnTransformer
from sklearn.base import TransformerMixin

# Data Reading

In [322]:
# ë°ì´í„° ì½ì–´ì˜¤ê¸°
df_train = pd.read_csv('./data/train.csv')
df_test = pd.read_csv('./data/test.csv')

In [323]:
# í—¤ë“œ í™•ì¸
df_train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [324]:
# ë°ì´í„°ì˜ ì»¬ëŸ¼ ìˆ˜ í™•ì¸
print(df_train.shape, df_test.shape)

(891, 12) (418, 11)

In [325]:
# ì»¬ëŸ¼ë³„ íƒ€ì…ê³¼ Nullê°’ í™•ì¸
print(df_train.info())
print()
print(df_test.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB
None

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Pclass       418 non-null    int64
 2   Name         418 non-null    object
 3   Sex          418 non-null    object
 4   Age          332 non-null    float64
 5   SibSp        418 non-null    int64
 6   Parch        418 non-null    int64
 7   Ticket       418 non-null    object
 8   Fare         417 non-null    float64
 9   Cabin        91 non-null     object
 10  Embarked     418 non-null    object
dtypes: float64(2), int64(4), object(5)
memory usage: 36.0+ KB
None

## Exploratory Data Analysis ğŸ“ŠğŸ¤”

In [326]:
# í”¼ì²˜ë³„ë¡œ í•™ìŠµë°ì´í„°, í…ŒìŠ¤íŠ¸ë°ì´í„°, ì–‘ìª½ì„ í•©ì¹œ ì´ ìƒì¡´ìì˜ ë¹„ìœ¨ì„ ì‹œê°í™”í•´ì£¼ëŠ” í•¨ìˆ˜
# plt, seaborn importí•˜ê³ , eda_bar_plots(ì»¬ëŸ¼ëª…) ì…ë ¥í•˜ì‹œë©´ ë©ë‹ˆë‹¤.
def eda_bar_plots(feature: str, target: str = 'Survived') -> None:
    """
    The given 'feature' is expected to be a categorical feature.
    Avoid calling this function with 'feature' == 'Age' or 'Fare'
    
    This function crates 3 bar plots to perform a visual
    Data Exploration analysis of the given 'feature'.
    """
    
    fig, (ax1, ax2, ax3) = plt.subplots(1, 3, figsize=(15,5))
    
    # (1) the distribution of 'feature' in the Training data
    df1 = df_train[feature].value_counts(normalize=True) 
    df1 = df1.sort_index().reset_index()
    # Now df1 has the columns: feature and 'proportion'
    sns.barplot(data=df1, x=feature, y='proportion', ax=ax1)
    # Set the title, the xlabel, and the ylabel.
    ax1.set(
        xlabel=feature, 
        ylabel='% of each category', 
        title=feature + ': % value counts [Training Data]'
    )
    # Plot a horizontal line at the proportion of a balanced
    # distribution of the categories in 'feature'
    ax1.axhline(
        y=1/len(df1), color='green', alpha=0.4, linestyle='--'
    )
    
    # (2) the distribution of 'feature' in the Test data
    df2 = df_test[feature].value_counts(normalize=True) 
    df2 = df2.sort_index().reset_index()
    # Now df2 has the columns: feature and 'proportion'
    sns.barplot(data=df2, x=feature, y='proportion', ax=ax2)
    # Set the title, the xlabel, and the ylabel.
    ax2.set(
        xlabel=feature, 
        ylabel='% of each category', 
        title=feature + ': % value counts [Test Data]'
    )
    # Plot a horizontal line at the proportion of a balanced
    # distribution of the categories in 'feature'
    ax2.axhline(
        y=1/len(df2), color='green', alpha=0.4, linestyle='--'
    )
    
    # (3) the relationship between the 'target' and the 
    # categories of 'feature' in the training data
    df3 = df_train.groupby(feature, as_index=False).agg(
        {target: 'mean'}
    ).sort_values(by=feature)
    sns.barplot(x=feature, y=target, data=df3, ax=ax3)
    ax3.set(
        xlabel=feature,
        ylabel=f'% {target}', 
        title=f"{feature}: prob of '{target}'"
    )
    # Plot a horizontal line at the baseline prediction
    # probability: two classes -> prob=0.5
    ax3.axhline(
        y=0.5, color='green', alpha=0.4, linestyle='--'
    )

# Data Preprocessing âš™ï¸ğŸ§¹

In [327]:
# 'PassengerId' ì»¬ëŸ¼ ë“œë (ìƒê´€ê´€ê³„ X)
# ì œì¶œí•  ë•ŒëŠ” ì»¬ëŸ¼ ë‹¤ì‹œ ì¶”ê°€í•´ì¤˜ì•¼ í•©ë‹ˆë‹¤.
def drop_PassengerId(df_train):
    df_train = df_train.drop(columns=['PassengerId'])
    return df_train

In [328]:
# 'Name' ì»¬ëŸ¼ì—ì„œ 'honorific_title' ì»¬ëŸ¼ ìƒì„±í•˜ê¸°
# ì˜ë¯¸ìˆëŠ” í˜¸ì¹­(Mr, Mrs, Miss, Master)ì„ ì¶”ì¶œí•˜ëŠ” ê³¼ì •ì…ë‹ˆë‹¤.

# ì˜ˆ : "Braund, Mr. Owen Harris"ì—ì„œ 'Mr' ì¶”ì¶œ
def get_honorific_name(df_train, df_test):
    # '.'(ë§ˆì¹¨í‘œ) ê¸°ì¤€ìœ¼ë¡œ ì´ë¦„ì„ ìë¥´ê³ , ','(ì½¤ë§ˆ) ì œê±°
    honorific_title_train = df_train['Name'].map(
        lambda n: n.split('.')[0].split(', ')[-1]
    )
    honorific_title_test = df_test['Name'].map(
        lambda n: n.split('.')[0].split(', ')[-1]
    )

    # ìƒˆ í”¼ì³ë¡œ ì‚¬ìš©í•  ì»¬ëŸ¼ 'honorific_title' ìƒì„±
    top4_titles = ('Mr', 'Mrs', 'Miss', 'Master')

    df_train['honorific_title'] = honorific_title_train.map(
        lambda h: h if h in top4_titles else np.nan
    )
    df_test['honorific_title'] = honorific_title_test.map(
        lambda h: h if h in top4_titles else np.nan
    )
    
    return df_train, df_test

In [329]:
# 'Name' ì»¬ëŸ¼ì—ì„œ 'honorific_title' ì»¬ëŸ¼ ìƒì„±í•˜ê¸°
# ì˜ë¯¸ìˆëŠ” í˜¸ì¹­(Mr, Mrs, Miss, Master)ì„ ì¶”ì¶œí•˜ëŠ” ê³¼ì •ì…ë‹ˆë‹¤.

# 'honorific_title' ìƒì„±í•˜ëŠ” í•¨ìˆ˜
def get_honorific_title(name):
    top4_titles = ('Mr', 'Mrs', 'Miss', 'Master')

    # top4 í˜¸ì¹­ìœ¼ë¡œ ë°”ê¿”ì¤„ ì†Œìˆ˜ ì—¬ì„± í˜¸ì¹­
    female_titles_to_Mrs = ('Mme', 'the Countess', 'Dona', 'Lady')
    female_titles_to_Miss = ('Mlle', 'Ms')

    # top4 í˜¸ì¹­ìœ¼ë¡œ ë°”ê¿”ì¤„ ì†Œìˆ˜ ë‚¨ì„± í˜¸ì¹­
    male_titles_to_Mr = ('Major', 'Col', 'Capt', 'Don', 'Sir', 'Jonkheer', 'Rev')

    # ì˜ˆ : "Braund, Mr. Owen Harris"ì—ì„œ 'Mr' ì¶”ì¶œ
    # '.'(ë§ˆì¹¨í‘œ) ê¸°ì¤€ìœ¼ë¡œ ì´ë¦„ì„ ìë¥´ê³ , ','(ì½¤ë§ˆ) ì œê±°
    honorific_title = name.split('.')[0].split(', ')[-1]

    # í˜¸ì¹­ì— ë”°ë¼ ë³€í™˜í•´ì„œ ë¦¬í„´
    if honorific_title in top4_titles:
        return honorific_title
    elif honorific_title in female_titles_to_Mrs:
        return 'Mrs'
    elif honorific_title in female_titles_to_Miss:
        return 'Miss'
    elif honorific_title in male_titles_to_Mr:
        return 'Mr'
    else:
        return np.nan

In [330]:
# ìƒˆ í”¼ì³ë¡œ ì‚¬ìš©í•  ì»¬ëŸ¼ 'honorific_title' ìƒì„±
def make_honorific_title(df_train, df_test):
    df_train['honorific_title'] = df_train['Name'].map(get_honorific_title)
    df_test['honorific_title'] = df_test['Name'].map(get_honorific_title)
    
    return df_train, df_test

In [331]:
# ì›ë˜ ì»¬ëŸ¼ 'Name'ë¥¼ ë“œë
def drop_Name(df_train, df_test):
    df_train = df_train.drop(columns=['Name'])
    df_test = df_test.drop(columns=['Name'])
    
    return df_train, df_test

In [332]:
# 'SibSp' ë ˆì´ë¸” ì¸ì½”ë”©
def encoding_SibSp(df_train, df_test):
    df_train['SibSp'] = df_train['SibSp'].map(
        lambda s: str(s) if s < 2 else '>=2'
    )
    df_test['SibSp'] = df_test['SibSp'].map(
        lambda s: str(s) if s < 2 else '>=2'
    )
    
    return df_train, df_test

In [333]:
# 'Parch' ë ˆì´ë¸” ì¸ì½”ë”©
def encoding_Parch(df_train, df_test):
    df_train['Parch'] = df_train['Parch'].map(
        lambda p: '0' if p == 0 else '>0'
    )
    df_test['Parch'] = df_test['Parch'].map(
        lambda p: '0' if p == 0 else '>0'
    )
    
    return df_train, df_test

In [334]:
# ìƒˆ ì»¬ëŸ¼ 'Family' ìƒì„± í›„ ë ˆì´ë¸” ì¸ì½”ë”©
def make_Family_column(df_train, df_test):
    # 'Famliy' ì»¬ëŸ¼ ê³„ì‚°í•´ì„œ ìƒì„±
    df_train['Family'] = df_train['SibSp'].astype(int) + df_train['Parch'].astype(int) + 1
    df_test['Family'] = df_test['SibSp'].astype(int) + df_test['Parch'].astype(int) + 1
    
    # 'Famliy' ì»¬ëŸ¼ ë ˆì´ë¸” ì¸ì½”ë”©
    df_train['Family'] = df_train['Family'].map(
        lambda f : str(f) if f < 3 else '>=3'
    )

    df_test['Family'] = df_test['Family'].map(
        lambda f : str(f) if f < 3 else '>=3'
    )
    
    return df_train, df_test

In [335]:
# 'SibSp' ì»¬ëŸ¼ ë“œë
def drop_SibSp(df_train, df_test):
    df_train = df_train.drop(columns=['SibSp'])
    df_test = df_test.drop(columns=['SibSp'])
    
    return df_train, df_test

In [336]:
# 'Parch' ì»¬ëŸ¼ ë“œë
def drop_Parch(df_train, df_test):
    df_train = df_train.drop(columns=['Parch'])
    df_test = df_test.drop(columns=['Parch'])
    
    return df_train, df_test

In [337]:
# 'Cabin' ì»¬ëŸ¼ ë“œë (ê²°ì¸¡ì¹˜ê°€ ë„ˆë¬´ ë§ìŒ)
def drop_Cabin(df_train, df_test):
    df_train = df_train.drop(columns=['Cabin'])
    df_test = df_test.drop(columns=['Cabin'])
    
    return df_train, df_test

In [338]:
# 'Ticket' ì»¬ëŸ¼ ë“œë (ì˜ë¯¸ë¥¼ ì°¾ì„ìˆ˜ ì—†ìŒ)
def drop_Ticket(df_train, df_test):
    df_train = df_train.drop(columns=['Ticket'])
    df_test = df_test.drop(columns=['Ticket'])
    
    return df_train, df_test

In [339]:
# 'Age' ê²°ì¸¡ì¹˜ ì±„ìš°ëŠ” í´ë˜ìŠ¤
class AgeImputer(
    SimpleImputer, TransformerMixin
):
    """
    Age Imputer from 'honorific_title' column.

    There are four honorific titles: Mr, Mrs, Miss, Master.
    We proved that these groups have statistically different
    mean Ages (Independent T-tests).

    Imputation strategy:
        - fit:  compute the mean Age for each honorifit title
            Compute the mean Age for those who do not have title
        - transform:  if Age is missing for a passenger, if it has
            honorific title, the mean Age for that honorific title
            will be assigned. Else, the mean age for those who do
            not have title will be assigned.
    """

    def __init__(self) -> None:
        """
        Initialize an AgeImputer instance
        """

        # Initialize the parent Sklearn classes
        super().__init__()
        # Define the mappig {title_: mean Age for title_}
        self.title2age = {}
        # Define the mean age of those people with no title
        self.no_title_mean_age = None
        self.is_fitted = False


    def fit(self, X: pd.DataFrame, y=None):
        """
        Fits the 'title2age' and 'honorific_title' using 'X'.

        'X' is assumed to be Training Data (not Test Data!)
        'X' is assumed to be a non-empty data frame with
            (at least) the columns 'Age' and 'honorific_title'
        """

        df_groupby = df_train.groupby(
            by='honorific_title'
        ).agg({'Age': 'mean'})
        self.title2age = df_groupby.to_dict()['Age']

        if X['honorific_title'].isna().sum() == 0:
            self.no_title_mean_age = X['Age'].mean()
        else:
            self.no_title_mean_age = X.loc[
                X['honorific_title'].isna(), 'Age'
            ].mean()
        self.is_fitted = True
        return self


    def transform(self, X: pd.DataFrame, y=None) -> pd.DataFrame:
        """
        Transform 'X' by imputing the missing values of 'Age'

        'X' is assumed to be Training Data (not Test Data!)
        'X' is assumed to be a non-empty data frame with
            (at least) the columns 'Age' and 'honorific_title'
        """

        if not self.is_fitted:
            raise Exception("Call the 'fit' method first")

        X_out = X.copy(deep=True)
        missing_age_idx = X.loc[X['Age'].isna(), :].index
        age_col_idx = np.where(X.columns == 'Age')[0][0]

        for idx in missing_age_idx:

            # get the honorific_title of the 'idx' row
            title = X.loc[idx,'honorific_title']

            if title in self.title2age:
                X_out.loc[idx, 'Age'] = self.title2age[title]
            else:
                X_out.loc[idx, 'Age'] = self.no_title_mean_age

        return X_out['Age'].to_frame()

In [340]:
# Create three imputers : ê²°ì¸¡ì¹˜ ì±„ìš°ëŠ” í•¨ìˆ˜ë¥¼ imputerë¼ê³  í•©ë‹ˆë‹¤.
age_imputer = AgeImputer().set_output(transform='pandas')

fare_imputer = SimpleImputer(
    strategy='median'
).set_output(transform='pandas')

embarked_imputer = SimpleImputer(
    strategy='most_frequent'
).set_output(transform='pandas')


# Create a general imputer (for all the variables)
imputer = ColumnTransformer(
    transformers=[
        ('age_imp', age_imputer, ['Age', 'honorific_title']),
        ('fare_imp', fare_imputer, ['Fare']),
        ('embarked_imp', embarked_imputer, ['Embarked'])
    ],
    remainder='passthrough', # ë‚˜ë¨¸ì§€ëŠ” ë†”ë‘”ë‹¤.
    verbose_feature_names_out=False
).set_output(transform='pandas')

In [341]:
# 'honorific_title' í•œì • ì›í•« ì¸ì½”ë”©(ë‚˜ì´ ê²°ì¸¡ì¹˜ ì±„ìš°ëŠ” ë° í•„ìš”)
def make_honorific_title_dummy(df_train, df_test):
    df_train['dummy_honorific_title'] = df_train['honorific_title']
    df_train = pd.get_dummies(
          data=df_train
        , columns=['dummy_honorific_title']
        , prefix=''
        , prefix_sep=''
        , dummy_na=False  # Null ì»¬ëŸ¼ì€ ë³µì‚¬í•˜ì§€ ì•ŠëŠ”ë‹¤.
        , drop_first=False  # Top4 honorific titles í–‰ì€ ì „ë¶€ ë³µì‚¬
        , dtype=int
    )
    
    df_test['dummy_honorific_title'] = df_test['honorific_title']
    df_test = pd.get_dummies(
          data=df_test
        , columns=['dummy_honorific_title']
        , prefix=''
        , prefix_sep=''
        , dummy_na=False  # Null ì»¬ëŸ¼ì€ ë³µì‚¬í•˜ì§€ ì•ŠëŠ”ë‹¤.
        , drop_first=False  # Top4 honorific titles í–‰ì€ ì „ë¶€ ë³µì‚¬
        , dtype=int
    )
    
    return df_train, df_test

In [342]:
# ì›í•« ì¸ì½”ë”©
def one_hot_encoder(df_train, df_test):
  df_train = pd.get_dummies(
        data=df_train
      , dummy_na=False
      , drop_first=False
      , dtype=int
  ).drop(columns='honorific_title')

  df_test = pd.get_dummies(
        data=df_test
      , dummy_na=False
      , drop_first=False
      , dtype=int
  ).drop(columns='honorific_title')
  
  return df_train, df_test

In [343]:
# ì»¬ëŸ¼ ìƒì„± ë° ë“œëí•˜ëŠ” í•¨ìˆ˜ ëª¨ìŒ
def make_drop_columns(df_train, df_test):
    # ë°”ë¡œ ë“œëí•˜ëŠ” ì»¬ëŸ¼ë“¤ ë“œë
    df_train = drop_PassengerId(df_train)
    df_train, df_test = drop_Cabin(df_train, df_test)
    df_train, df_test = drop_Ticket(df_train, df_test)
    
    # ì „ì²˜ë¦¬ í›„ ì¸ì½”ë”©í•˜ëŠ” ì»¬ëŸ¼
    df_train, df_test = make_honorific_title(df_train, df_test)
    df_train, df_test = drop_Name(df_train, df_test)
    
    # 'Family' ì»¬ëŸ¼ ë§Œë“¤ê³  í•„ìš”ì—†ëŠ” ì»¬ëŸ¼ ë“œë
    df_train, df_test = make_Family_column(df_train, df_test)
    df_train, df_test = drop_SibSp(df_train, df_test)
    df_train, df_test = drop_Parch(df_train, df_test)
    
    # honorific_titleì˜ ë”ë¯¸ ì»¬ëŸ¼ ìƒì„±
    df_train, df_test = make_honorific_title_dummy(df_train, df_test)
       
    return df_train, df_test

In [344]:
# ì»¬ëŸ¼ ìƒì„±/ë“œë í•¨ìˆ˜ ì‹¤í–‰
df_train, df_test = make_drop_columns(df_train, df_test)

In [345]:
# ê²°ì¸¡ì¹˜ ì±„ìš°ê¸°
df_train = pd.DataFrame(
      imputer.fit_transform(df_train)
    , columns=df_train.columns
)

df_test = pd.DataFrame(
      imputer.fit_transform(df_test)
    , columns=df_test.columns
)

In [346]:
# ì›í•« ì¸ì½”ë”©
df_train, df_test = one_hot_encoder(df_train, df_test)

In [348]:
df_test.head()

,Survived,Pclass,Age,Fare,Master,Miss,Mr,Mrs,Sex_female,Sex_male,Embarked_C,Embarked_Q,Embarked_S,Family_1,Family_2,Family_>=3
0,0,3,22.0,7.2500,0,0,1,0,0,1,0,0,1,0,1,0
1,1,1,38.0,71.2833,0,0,0,1,1,0,1,0,0,0,1,0
2,1,3,26.0,7.9250,0,1,0,0,1,0,0,0,1,1,0,0
3,1,1,35.0,53.1000,0,0,0,1,1,0,0,0,1,0,1,0
4,0,3,35.0,8.0500,0,0,1,0,0,1,0,0,1,1,0,0