# Let's get started! âš¡

## Import Module

### Basic Module

In [ ]:
# Exploratory Data Analysis
import pandas as pd
pd.options.mode.chained_assignment = None
import numpy as np

# Warnings
import warnings
warnings.filterwarnings('ignore')

### Visualization

In [ ]:
# Visualization
import matplotlib.pyplot as plt
import seaborn as sns

### Data Preprocessing Module

In [1]:
# Data Preprocessing
from sklearn.preprocessing import StandardScaler, LabelEncoder

### Models

In [ ]:
# Models

### Hyperparameter tuning

In [ ]:
# Hyperparameter tuning
from hyperopt import hp
from hyperopt import fmin, tpe, Trials
from sklearn.model_selection import cross_val_score
from hyperopt import STATUS_OK

# Data Reading

In [ ]:
# ë°ì´í„° ì½ì–´ì˜¤ê¸°
df_train = pd.read_csv('./train.csv')
df_test = pd.read_csv('./test.csv')

In [ ]:
# í—¤ë“œ í™•ì¸
df_train.head()

In [ ]:
# ë°ì´í„°ì˜ ì»¬ëŸ¼ ìˆ˜ í™•ì¸
print(df_train.shape, df_test.shape)

In [ ]:
# ì»¬ëŸ¼ë³„ íƒ€ì…ê³¼ Nullê°’ í™•ì¸
print(df_train.info())
print()
print(df_test.info())

# Exploratory Data Analysis ğŸ“ŠğŸ¤”

## ë°ì´í„° ì •ë¦¬

In [ ]:
Survived = df_train['Survived']
train_idx = df_train.index
test_idx = df_test.index

In [ ]:
# ì‰¬ìš´ ë¶„ì„ì„ ìœ„í•´ í•™ìŠµë°ì´í„°ì™€ í…ŒìŠ¤íŠ¸ë°ì´í„° í”„ë ˆì„ í•©ì¹˜ê¸°
data = pd.concat([df_train.iloc[:,2:], df_test.iloc[:,1:]], axis=0, sort=False)

## í•©ì¹œ ë°ì´í„° ë¶„ì„

### ê¸°ë³¸ ì •ë³´ í™•ì¸

In [ ]:
data.describe()

In [ ]:
data.info()

### ê²°ì¸¡ì¹˜ ì±„ìš°ê¸° ìœ„í•œ ë¶„ì„

In [ ]:
sns.set_style("whitegrid")
plt.figure(figsize=(10,5))
palette=sns.color_palette("pastel")
sns.heatmap(data.isna(), yticklabels=False, cmap="YlGnBu")
sns.set
plt.show()

In [ ]:
# 'Cabin' ì»¬ëŸ¼ ë“œë
data.drop('Cabin', axis=1, inplace=True)

In [ ]:
data[data.Embarked.isna()]

In [ ]:
# 'Pclass'=1ì¸ ì‚¬ëŒì˜ Embarked ë¶„í¬ í™•ì¸
data[data['Pclass']==1]['Embarked'].value_counts()

In [ ]:
# 'Sex'ì— ë”°ë¥¸ 'Age' ë¶„í¬ í‘œì‹œ
sns.barplot(x=data.groupby('Sex')['Age'].agg(np.mean).index, y=data.groupby('Sex')['Age'].agg(np.mean).values)

In [ ]:
data.groupby('Sex')['Age'].agg(np.mean)

In [ ]:
# 'Pclass'ì— ë”°ë¥¸ 'Age' ë¶„í¬ í‘œì‹œ
sns.barplot(x=data.groupby('Pclass')['Age'].agg(np.mean).index, y=data.groupby('Pclass')['Age'].agg(np.mean).values)

In [ ]:
data.groupby('Pclass')['Age'].agg(np.mean)

In [ ]:
data[data.Fare.isna()]

In [ ]:
sns.histplot(data.Fare,bins=30)

In [ ]:
data.groupby('Pclass')['Fare'].agg(np.mean)

### í•™ìŠµë°ì´í„°ë§Œ ë–¼ì–´ì„œ ë¶„ì„

In [ ]:
#Creating subset only for EDA

data_exp = data.iloc[:891]
data_exp['Survived'] = df_train.Survived

In [ ]:
category_names = ['Survived','Not Survived']
size = [data_exp['Survived'].value_counts()[1],data_exp['Survived'].value_counts()[0]]

# Pie chart 
plt.figure(figsize=(5,5), dpi=100)
plt.pie(size, labels=category_names, textprops={'fontsize':16}, startangle=90, autopct='%1.1f%%',
        explode=[0,0.05])
plt.show()

In [ ]:
data_exp.groupby('Sex')['Survived'].value_counts()

In [ ]:
data_exp.groupby('Survived')['Embarked'].value_counts()

In [ ]:
data_exp.groupby('Survived')['Fare'].agg(['mean','min','max'])

In [ ]:
fig,ax = plt.subplots(nrows=1,ncols=2,figsize=(20,5))
sns.barplot(x=data_exp.SibSp.value_counts().index, y=data_exp.SibSp.value_counts(), ax=ax[0]) 
ax[0].set_title('SibSp')
sns.barplot(x=data_exp.Parch.value_counts().index, y=data_exp.Parch.value_counts(), ax=ax[1])
ax[1].set_title('Parch')
plt.show()

In [ ]:
data_exp.groupby('Ticket')['Survived'].value_counts()

# Data Preprocessing âš™ï¸ğŸ§¹

## 1ì°¨ ì „ì²˜ë¦¬ í•¨ìˆ˜ ì„ ì–¸

### í•™ìŠµë°ì´í„°ì™€ í…ŒìŠ¤íŠ¸ë°ì´í„° í•©ì¹˜ê¸°

In [ ]:
# í•™ìŠµë°ì´í„°ì™€ í…ŒìŠ¤íŠ¸ë°ì´í„° í•©ì¹˜ê¸°
def concat_train_test_data(df_train=None, df_test=None):
    df = pd.concat([df_train, df_test], axis=0, sort=False).reset_index(drop=True)
    # ì •ìˆ˜ë¡œ ê³ ì •í•´ì•¼ í•  ì»¬ëŸ¼ì„ ì •ìˆ˜í˜•ìœ¼ë¡œ ë³€í™˜
    to_int_columns = ['PassengerId', 'Survived']
    for column in to_int_columns:
        df[column] = df[column].astype(int)
    return df

### ì˜ëª»ëœ ìŠ¹ê°ì •ë³´ ì •ì •

In [ ]:
# ì˜ëª»ëœ ìŠ¹ê°ì •ë³´ ì •ì •
# thanks to @Nadezda Demidova : https://www.kaggle.com/demidova/titanic-eda-tutorial-with-seaborn
def correct_wrong_passenger_info(df=None):
    df.loc[df['PassengerId'] == 631, 'Age'] = 48

    # Passengers with wrong number of siblings and parch
    df.loc[df['PassengerId'] == 69, ['SibSp', 'Parch']] = [0,0]
    df.loc[df['PassengerId'] == 1106, ['SibSp', 'Parch']] = [0,0]
    
    return df

### 'Title' ì»¬ëŸ¼ ìƒì„±

In [ ]:
# 'Name' ì»¬ëŸ¼ì—ì„œ 'Title' ì»¬ëŸ¼ ìƒì„±í•˜ê¸°
# ì˜ë¯¸ìˆëŠ” í˜¸ì¹­(Mr, Mrs, Miss, Master)ì„ ì¶”ì¶œí•˜ëŠ” ê³¼ì •ì…ë‹ˆë‹¤.

# 'Title' ìƒì„±í•˜ëŠ” í•¨ìˆ˜
def get_Title(name=None):
    top4_titles = ('Mr', 'Mrs', 'Miss', 'Master')

    # top4 í˜¸ì¹­ìœ¼ë¡œ ë°”ê¿”ì¤„ ì†Œìˆ˜ ì—¬ì„± í˜¸ì¹­
    female_titles_to_Mrs = ('Mme', 'the Countess', 'Dona', 'Lady')
    female_titles_to_Miss = ('Mlle', 'Ms')

    # top4 í˜¸ì¹­ìœ¼ë¡œ ë°”ê¿”ì¤„ ì†Œìˆ˜ ë‚¨ì„± í˜¸ì¹­
    male_titles_to_Mr = ('Major', 'Col', 'Capt', 'Don', 'Sir', 'Jonkheer', 'Rev')

    # ì˜ˆ : "Braund, Mr. Owen Harris"ì—ì„œ 'Mr' ì¶”ì¶œ
    # '.'(ë§ˆì¹¨í‘œ) ê¸°ì¤€ìœ¼ë¡œ ì´ë¦„ì„ ìë¥´ê³ , ','(ì½¤ë§ˆ) ì œê±°
    title = name.split('.')[0].split(', ')[-1]

    # í˜¸ì¹­ì— ë”°ë¼ ë³€í™˜í•´ì„œ ë¦¬í„´
    if title in top4_titles:
        return title
    elif title in female_titles_to_Mrs:
        return 'Mrs'
    elif title in female_titles_to_Miss:
        return 'Miss'
    elif title in male_titles_to_Mr:
        return 'Mr'
    else:
        return title

In [ ]:
# ë‚¨ë…€ ì–‘ìª½ ì „ë¶€ ì¡´ì¬í•˜ëŠ” í˜¸ì¹­ ì²˜ë¦¬ í•¨ìˆ˜
def processing_title_on_both_side(df=None):
    # ì¡°ê±´ ì„¤ì •
    title_on_both_side = ['Dr']
    cond_mr = (df['Sex'] == 'male') & (df['Title'].isin(title_on_both_side))
    cond_mrs = (df['Sex'] == 'female') & (df['Title'].isin(title_on_both_side))
    
    # ì¹˜í™˜
    df.loc[cond_mr, 'Title'] = 'Mr'
    df.loc[cond_mrs, 'Title'] = 'Mrs'
    
    return df

In [ ]:
# 'Title'(í˜¸ì¹­) ìƒì„±
def make_Title(df=None):
    df['Title'] = df['Name'].map(get_Title)
    
    # ë‚¨ë…€ ì–‘ìª½ ì „ë¶€ ì¡´ì¬í•˜ëŠ” í˜¸ì¹­ì— ëŒ€í•œ ì²˜ë¦¬
    df = processing_title_on_both_side(df)
    
    return df

### ë‹¨ì¼ í”¼ì³ ìƒì„±

In [ ]:
# 'Surname'(ì„±ì”¨) ìƒì„±
def make_Surname(df=None):
    df['Surname'] = df['Name'].map(lambda name: name.split(',')[0].strip())
    return df

In [ ]:
# 'Family', 'IsAlone' ìƒì„±
def make_Family_IsAlone(df=None):
    df['Family'] = df['SibSp'].astype(int) + df['Parch'].astype(int)
    # df['IsAlone'] = (df['Family'] <= 1).astype(int)
    return df

### í”¼ì³ íŠœë‹

In [ ]:
# 'Cabin' ì»¬ëŸ¼ ë§¤í•‘
def mapping_Cabin(df=None):
    # ê²°ì¸¡ì¹˜ë¥¼ ì „ë¶€ 'U'ë¡œ ëŒ€ì²´
    df['Cabin'] = df['Cabin'].fillna('U')
    # ì²« ì•ŒíŒŒë²³(Deck)ë§Œ ì¶”ì¶œ
    df['Cabin'] = df['Cabin'].map(lambda x: re.compile("([a-zA-Z]+)").search(x).group())
    cabin_category = {'A':9, 'B':8, 'C':7, 'D':6, 'E':5, 'F':4, 'G':3, 'T':2, 'U':1}
    # Mapping
    df['Cabin'] = df['Cabin'].map(cabin_category)
    return df

## 1ì°¨ ì „ì²˜ë¦¬ í•¨ìˆ˜ ëª¨ìŒ

In [ ]:
# 1ì°¨ ì „ì²˜ë¦¬ í•¨ìˆ˜ ëª¨ìŒ
def first_preprocessing(df_train=None, df_test=None):
    # í•™ìŠµë°ì´í„°ì™€ ì „ì²˜ë¦¬ë°ì´í„° í•©ì¹˜ê¸°
    df = concat_train_test_data(df_train, df_test)
    
    # ì˜ëª»ëœ ìŠ¹ê°ì •ë³´ ì •ì •
    df = correct_wrong_passenger_info(df)
    
    # í˜¸ì¹­ ë§Œë“¤ê¸°
    df = make_Title(df)
    
    # 'Surname'(ì„±ì”¨) ìƒì„±
    df = make_Surname(df)
    
    # 'Family', 'IsAlone' ìƒì„±
    df = make_Family_IsAlone(df)
    
    # 'Cabin' ì»¬ëŸ¼ ë§¤í•‘
    # df = mapping_Cabin(df)
       
    return df

In [ ]:
# 1ì°¨ ì „ì²˜ë¦¬ í•¨ìˆ˜ ì‹¤í–‰
df = first_preprocessing(df_train, df_test)

## 1ì°¨ ì „ì²˜ë¦¬ í›„ í†µê³„ í™•ì¸

### 'Age' ê²°ì¸¡ì¹˜ ì±„ìš°ê¸° ìœ„í•œ í™•ì¸

In [ ]:
df.groupby('Title')['Age'].agg({'mean', 'median'})

             mean  median
Title
Master   5.482642     4.0
Miss    21.824366    22.0
Mr      32.731405    30.0
Mrs     37.040000    36.0

### 'Fare' ê²°ì¸¡ì¹˜ ì±„ìš°ê¸° ìœ„í•œ í™•ì¸

In [ ]:
df.groupby('Pclass')['Fare'].agg({'mean', 'median', 'max'})

             mean       max   median
Pclass
1       87.508992  512.3292  60.0000
2       21.179196   73.5000  15.0458
3       13.302889   69.5500   8.0500

### 'Embarked' ê²°ì¸¡ì¹˜ ì±„ìš°ê¸° ìœ„í•œ í™•ì¸

In [ ]:
df.loc[df['Embarked'].isnull()][['Name', 'Pclass', 'Sex', 'Title']]

                                          Name  Pclass     Sex Title
61                         Icard, Miss. Amelie       1  female  Miss
829  Stone, Mrs. George Nelson (Martha Evelyn)       1  female   Mrs

In [ ]:
df.groupby('Pclass')['Embarked'].value_counts()

Pclass  Embarked
1       S           177
        C           141
        Q             3
2       S           242
        C            28
        Q             7
3       S           495
        Q           113
        C           101
Name: count, dtype: int64

## 2ì°¨ ì „ì²˜ë¦¬ í•¨ìˆ˜ ì„ ì–¸

### ê²°ì¸¡ì¹˜ ì±„ìš°ê¸°

In [ ]:
# 'Age' ì»¬ëŸ¼ ê²°ì¸¡ì¹˜ ì±„ìš°ê¸°
def Age_Imputer(df=None):
    df['Age'] = df.groupby('Title')['Age'].transform(lambda x: x.fillna(x.median())) 
    df['Age'] = df['Age'].astype('int64')    
    return df

In [ ]:
# 'Fare' ì»¬ëŸ¼ ê²°ì¸¡ì¹˜ ì±„ìš°ê¸°
def Fare_Imputer(df=None):
    df['Fare'] = df.groupby('Pclass')['Fare'].transform(lambda x: x.fillna(x.mean())) 
    return df

In [ ]:
# 'Embarked' ì»¬ëŸ¼ ê²°ì¸¡ì¹˜ ì±„ìš°ê¸°
def Embarked_Imputer(df=None):
    # Nullì¸ ë‘ ì‚¬ëŒì´ ì „ë¶€ Pclass=1 => '1'ì—ëŠ” 'S'ê°€ ì œì¼ ë§ë‹¤.
    df.loc[df['Embarked'].isnull(), 'Embarked'] = 'S'
    return df

In [ ]:
# ê²°ì¸¡ì¹˜ ì±„ìš°ëŠ” í•¨ìˆ˜
def Data_Imputer(df=None):
    df = Age_Imputer(df)
    df = Fare_Imputer(df)
    df = Embarked_Imputer(df)
    return df

### 'Family_Survival' ì»¬ëŸ¼ ìƒì„±
---
* ì´ ì»¬ëŸ¼ì— ëŒ€í•œ ìì„¸í•œ ì •ë³´ëŠ” https://www.kaggle.com/code/shunjiangxu/blood-is-thicker-than-water-friendship-forever/notebook ë¥¼ ì°¸ê³ í•˜ì„¸ìš”.
---

In [ ]:
# 'Family_Survival' ì»¬ëŸ¼ ìƒì„±
def make_Family_Survival(df=None):
    def_survive_val = 0.5
    df['Family_Survival'] = def_survive_val
    survive_df = df[['Survived', 'Name', 'Surname'
                     , 'Fare', 'Ticket', 'PassengerId'
                     , 'SibSp', 'Parch', 'Age', 'Cabin']]
    
    for grp, grp_df in survive_df.groupby(['Surname', 'Fare']):
        if (len(grp_df) != 1):
            # ê°€ì¡± ê·¸ë£¹(ê°™ì€ ì„±ì”¨, Fare 2ëª… ì´ìƒ)ì„ ì°¾ì•˜ë‹¤.
            for idx, row in grp_df.iterrows():
                max_sur = grp_df.drop(idx)['Survived'].max()
                min_sur = grp_df.drop(idx)['Survived'].min()
                passID = row['PassengerId']
                # ë‹¤ë¥¸ ê°€ì¡±ì˜ ìƒì¡´ ì—¬ë¶€ë¥¼ ì´ ì»¬ëŸ¼ì— ê¸°ë¡í•¨
                if (max_sur == 1.0):
                    df.loc[df['PassengerId'] == passID, 'Family_Survival'] = 1
                elif (min_sur == 0.0):
                    df.loc[df['PassengerId'] == passID, 'Family_Survival'] = 0
                    
    for _, grp_df in df.groupby('Ticket'):
        if (len(grp_df) != 1):
            # ê°™ì€ í‹°ì¼“ë²ˆí˜¸ë¥¼ ê°€ì§„ ë‹¤ë¥¸ ì‚¬ëŒì„ ì°¾ì•˜ë‹¤.
            for idx, row in grp_df.iterrows():
                if (row['Family_Survival'] == 0) | (row['Family_Survival']== 0.5):
                    max_sur = grp_df.drop(idx)['Survived'].max()
                    min_sur = grp_df.drop(idx)['Survived'].min()
                    passID = row['PassengerId']
                    # ê°™ì€ í‹°ì¼“ë²ˆí˜¸ë¥¼ ê°€ì§„ ë‹¤ë¥¸ ì‚¬ëŒì˜ ìƒì¡´ ì—¬ë¶€ë¥¼ ì´ ì»¬ëŸ¼ì— ê¸°ë¡í•¨
                    if (max_sur == 1.0):
                        df.loc[df['PassengerId'] == passID, 'Family_Survival'] = 1
                    elif (min_sur == 0.0):
                        df.loc[df['PassengerId'] == passID, 'Family_Survival'] = 0
                    
    return df

### ì¶”ê°€ í”¼ì³ ìƒì„± ë° ë§¤í•‘

In [ ]:
# ì¹´í…Œê³ ë¦¬í™” í”¼ì³ ìƒì„±
def make_categorical_columns(df=None):
    # 'Age_Cat' ìƒì„±
    df['Age_Cat'] = pd.qcut(df['Age'], 4)
    # 'Fare_Cat' ìƒì„±
    df['Fare_Cat'] = pd.qcut(df['Fare'], 4)
    return df

### ë ˆì´ë¸” ì¸ì½”ë”©

In [ ]:
# ë ˆì´ë¸” ì¸ì½”ë”©
def label_encoder(df=None):
    encoder = LabelEncoder()
    columns = ['Sex', 'Embarked', 'Title', 'Fare_Cat', 'Age_Cat']
    for column in columns:
        df[column] = encoder.fit_transform(df[column])
    
    return df

### ì»¬ëŸ¼ëª…ì„ ê°•ì œë¡œ strë¡œ í˜•ë³€í™˜

In [ ]:
# ì»¬ëŸ¼ëª…ì„ ê°•ì œë¡œ strë¡œ í˜•ë³€í™˜
# ì•Œê³ ë¦¬ì¦˜ì— ë”°ë¼ ì´ ì‘ì—…ì´ í•„ìš”í•©ë‹ˆë‹¤.
def columns_index_to_str_type(df=None):
    df.columns = df.columns.astype(str)
    return df

### í•„ìš”ì—†ëŠ” ì»¬ëŸ¼ë“¤ ë“œë

In [ ]:
# í•„ìš”ì—†ëŠ” ì»¬ëŸ½ë“¤ ë“œë
def drop_columns(df=None):
    columns = ['Title', 'Fare', 'Age', 'Name'
               , 'PassengerId', 'SibSp', 'Parch'
               , 'Ticket', 'Cabin', 'Embarked', 'Surname']
    df.drop(columns=columns, inplace=True)
    
    return df

## 2ì°¨ ì „ì²˜ë¦¬ í•¨ìˆ˜ ëª¨ìŒ

In [ ]:
# 2ì°¨ ì „ì²˜ë¦¬ í•¨ìˆ˜ ëª¨ìŒ
def second_preprocessing(df=None):
    # ê²°ì¸¡ì¹˜ ì±„ìš°ê¸°
    df = Data_Imputer(df)
    
    # 'Family_Survival' ì»¬ëŸ¼ ìƒì„±
    df = make_Family_Survival(df)
    
    # ì¹´í…Œê³ ë¦¬í™” ì»¬ëŸ¼ ìƒì„±
    df = make_categorical_columns(df)
    
    # ë ˆì´ë¸” ì¸ì½”ë”©
    df = label_encoder(df)
    
    # ì»¬ëŸ¼ëª…ì„ ê°•ì œë¡œ strë¡œ í˜•ë³€í™˜
    df = columns_index_to_str_type(df)
    
    # í•„ìš”ì—†ëŠ” ì»¬ëŸ¼ë“¤ ë“œë
    df = drop_columns(df)
    
    return df

In [ ]:
# 2ì°¨ ì „ì²˜ë¦¬ í•¨ìˆ˜ ì‹¤í–‰
df = second_preprocessing(df)

## ì „ì²˜ë¦¬ ê²°ê³¼ í™•ì¸

### ê²°ì¸¡ì¹˜ ì¡´ì¬ì—¬ë¶€ í™•ì¸

In [ ]:
df.isnull().sum()

Survived           418
Pclass               0
Sex                  0
Family               0
Family_Survival      0
Age_Cat              0
Fare_Cat             0
dtype: int64

### í”¼ì–´ìŠ¨ ê³„ìˆ˜ í–‰ë ¬ ì‹œê°í™”

In [ ]:
# í”¼ì–´ìŠ¨ ê³„ìˆ˜ í–‰ë ¬ ì‹œê°í™”
def plot_Pearson_heatmap(df=None):
    corr_matrix = pd.get_dummies(df).corr(method='pearson')

    plt.figure(figsize=(12, 12))
    sns.heatmap(
        corr_matrix, annot=True, cmap='coolwarm', fmt=".2f"
    )
    plt.title("Pearson Correlation Heatmap")
    plt.show()
    return

# plot_Pearson_heatmap(df)

### ë°ì´í„°í”„ë ˆì„ í™•ì¸

In [ ]:
df.head(3)

   Survived  Pclass  Sex  Family  Family_Survival  Age_Cat  Fare_Cat
0       0.0       3    0       1              0.5        0         0
1       1.0       1    1       1              0.5        3         3
2       1.0       3    1       0              0.5        1         1